.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.score-panel{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.score-panel div{
    display: inline-block;
    margin:auto 5px;
}
.score-panel .restart{
    margin-left: 15px;
}
.card-deck{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card-deck li{
    height: 60px;
    width: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}